body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color:white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero{
    background-image: url(../Images/background.jfif);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    columns: white;
}

.cta{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.features{
    padding: 15px 20px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}